@import "tailwindcss";

:root {
  --background: #f9f9f9;
  --foreground: #171717;
  --primary: #571244;
  --secondary: #ef4353;
  --main-text: #151515;
  --purple-10: #ddd0da;
  --purple-40: #8f6182;
  --purple-80: #2c0922;
  --purple-90: #1d0617;
  --purple-100: #11040e;
  --white-transparent: #ffffff06;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-main-text: var(--main-text);
  --color-purple-10: var(--purple-10);
  --color-purple-40: var(--purple-40);
  --color-purple-80: var(--purple-80);
  --color-purple-90: var(--purple-90);
  --color-purple-100: var(--purple-100);
  --color-white-transparent: var(--white-transparent);
  --font-nunito: var(--font-nunito);
  --font-nunito-sans: var(--font-nunito-sans);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  font-family: var(--font-nunito-sans), sans-serif;
}
